In [4]:
import pandas as pd
import sklearn

In [5]:
from sklearn.feature_extraction.text import CountVectorizer

In [38]:
df = pd.read_csv("lemmatized_hp_sample.csv")

In [39]:
df.columns.tolist()

['Unnamed: 0', 'target', 'country', 'wordCount', 'content_lem']

In [40]:
print(f'df dimensions: {df.shape}')
print(f'Distinct countries: {df.country.unique().shape[0]}')
print(f'average word count per article: {df.wordCount.mean():.1f}')
print(f'min word count: {df.wordCount.min()}, max word count: {df.wordCount.max()}')

df dimensions: (209900, 5)
Distinct countries: 10
average word count per article: 902.3
min word count: -32092, max word count: 30324

In [41]:
df[df.content_lem.isnull()]

        Unnamed: 0  target    country  wordCount content_lem
7556          7556       1  Australia          1         NaN
12403        12403       1  Australia          1         NaN
14907        14907       1  Australia         39         NaN
22873        22873       1  Australia          1         NaN
29163        29163       1  Australia          1         NaN
34684        34684       1  Australia          1         NaN
35348        35348       1  Australia          1         NaN
41099        41099       1  Australia          1         NaN
41710        41710       1  Australia          3         NaN
42968        42968       1  Australia         14         NaN
47090        47090       1  Australia          1         NaN
48029        48029       1  Australia          5         NaN
50195        50195       1  Australia          1         NaN
50626        50626       1  Australia          4         NaN
53251        53251       1  Australia         37         NaN
54316        54316       1  Australia         11         NaN
65948        65948       1  Australia          1         NaN
84585        84585       1  Australia          5         NaN
89041        89041       1  Australia          1         NaN
104917      104917       1  Australia          2         NaN
105101      105101       1  Australia         11         NaN
106139      106139       1  Australia          3         NaN
107794      107794       1  Australia          1         NaN
113835      113835       1  Australia          6         NaN
131573      131573       1  Australia          1         NaN
133804      133804       1  Australia          3         NaN
152465      152465       1  Australia          3         NaN
152883      152883       1  Australia          1         NaN
165541      165541       1  Australia         36         NaN
166232      166232       1  Australia          1         NaN
181236      181236       1  Australia          1         NaN
182656      182656       1  Australia          7         NaN
184628      184628       1  Australia          5         NaN
186335      186335       1  Australia          1         NaN
196225      196225       1  Australia         25         NaN
208159      208159       1  Australia          1         NaN

In [42]:
df = df.dropna()

In [43]:
df.isna().sum()

Unnamed: 0     0
target         0
country        0
wordCount      0
content_lem    0
dtype: int64

In [44]:
countv = CountVectorizer()
cv_text = countv.fit_transform(df.content_lem)
vocab = {v: k for k, v in countv.vocabulary_.items()}

In [64]:
vocab[1000]

'accountex'

In [45]:
#Sample encodings
print(list(countv.vocabulary_.keys())[:10])
print(list(countv.vocabulary_.values())[:10])

print(f'Observations: {cv_text.shape[0]}')
print(f'Vocab size: {cv_text.shape[1]}')

['monthly', 'sector', 'report', 'emerge', 'company', 'index', 'strengthen', 'above', 'move', 'average']
[112611, 158363, 148205, 56107, 36726, 87164, 170843, 545, 113482, 13462]
Observations: 209864
Vocab size: 204227

In [47]:
import numpy as np

In [48]:
#XXX Sanity check: word counts according to count vectorizer do not seem to agree with the word counts provided. 
#This is expected to some degree, and in most cases it looks small, but it does have some extreme values
cv_counts = np.array(cv_text.sum(axis = 1)).reshape(-1) #sum counts of all words in each article
wc_sanity = pd.concat([labels['wordCount'],pd.Series(cv_counts, name = 'cv_wordCount')], axis = 1) #pair with wordCount given in csv
wc_sanity['diff'] = wc_sanity['wordCount'] - wc_sanity['cv_wordCount']
print(f"Average difference between count vector sum and wordCount: {wc_sanity['diff'].mean():.2f}")
print(f"Max difference between count vector sum and wordCount: {wc_sanity['diff'].max()}")
print(f"Min difference between count vector sum and wordCount: {wc_sanity['diff'].min()}")


wc_sanitycheck = lambda k: print(f"The count vector sum is is within {int(k)} of the wordCount for {wc_sanity[np.abs(wc_sanity['diff']) < k].shape[0]/wc_sanity.shape[0]*100:.2f}% of the articles")

wc_sanitycheck(1e2)
wc_sanitycheck(1e3)
wc_sanitycheck(50)

Average difference between count vector sum and wordCount: 297.44
Max difference between count vector sum and wordCount: 29983.0
Min difference between count vector sum and wordCount: -32405.0
The count vector sum is is within 100 of the wordCount for 15.82% of the articles
The count vector sum is is within 1000 of the wordCount for 75.63% of the articles
The count vector sum is is within 50 of the wordCount for 8.31% of the articles

In [65]:
top_words = np.array(cv_text.sum(axis=0).argsort()).reshape(-1)

In [81]:
# pull indices with 300 largest numbers
# pass indices to reverse dictionary to see what words go with the indices

In [66]:
top_words[:300]

array([204226, 159093,  77042,  77037,  77036,  77035, 159099, 159100,
       159105,  77028, 159090,  77027, 159110,  77022, 159111,  77018,
        77017,  77016, 159113, 159114,  77011, 159109,  77048,  77050,
        77052,  77087,  77085, 159068,  77079,  77078,  77075,  77074,
        77072, 159073, 159076,  77067,  77066,  77065,  77064,  77063,
        77061,  77060, 159078, 159086,  77055,  77053,  77010,  77009,
        77008,  77007,  76966,  76965,  76964,  76963,  76962,  76960,
       159141, 159142, 159144, 159146,  76952,  76951,  76950,  76948,
        76945,  76944, 159149, 159153,  76938,  76937,  76936,  76969,
       159066,  76971,  76973,  77006,  77005,  77004,  77003,  77002,
        77001,  76997,  76996, 159118,  76994, 159119,  76989,  76987,
        76984,  76983, 159128, 159131,  76978,  76977,  76976, 159132,
        76972,  76934,  77089,  77091,  77187,  77184,  77183,  77180,
        77177, 159026, 159027, 159028,  77172, 159021,  77171,  77168,
        77166,  77165,  77163,  77162,  77161,  77160,  77158,  77157,
        77170,  77189,  77190, 159017, 158999,  77225, 159002, 159003,
        77221,  77217,  77216, 159007, 159008,  77210,  77209,  77208,
       159009, 159010,  77202, 159012, 159013,  77197, 159014,  77195,
        77193, 159038,  77154,  77153,  77152, 159052,  77115,  77114,
        77113, 159054,  77110, 159057,  77107, 159058, 159059, 159060,
        77103,  77101,  77100,  77099,  77098,  77097, 159063, 159064,
        77094,  77093,  77118,  77090,  77120,  77122,  77151,  77149,
        77144, 159047, 159048,  77141,  77140, 159049,  77138,  77137,
        77136,  77135,  77134,  77133,  77132,  77129,  77128,  77127,
       159051,  77125,  77124,  77121, 158996, 159155,  76931,  76723,
        76720, 159279,  76717,  76716,  76715,  76714,  76711, 159283,
        76726, 159287, 159290,  76703, 159292,  76701,  76697,  76696,
        76695,  76694,  76693,  76706,  76728,  76729,  76730, 159250,
        76758,  76757, 159252,  76755,  76753,  76751, 159255,  76748,
        76746,  76745,  76743, 159263, 159266,  76740, 159267,  76737,
       159268, 159269,  76732,  76731, 159298,  76689, 159301,  76685,
        76638,  76637,  76635,  76634,  76633,  76631,  76629,  76627,
        76625,  76620,  76618,  76616, 159346, 159347,  76613,  76611,
        76609,  76607,  76606, 159350, 159353,  76639,  76760,  76640,
       159332,  76683,  76679, 159309, 159310,  76671, 159314, 159316,
        76667, 159318, 159321, 159325,  76657,  76654,  76653,  76652,
        76651,  76650,  76647, 159329, 159331,  76644,  76641,  76932,
        76761, 159248,  76884,  76882])

In [75]:
word_counts_array = np.array(cv_text.sum(axis=0)).reshape(-1)

In [80]:
[(vocab[k], word_counts_array[k]) for k in list(top_words[-300:])][::-1]

[('the', 7593586),
 ('of', 5431564),
 ('be', 4318159),
 ('in', 3823069),
 ('to', 3790491),
 ('and', 3418395),
 ('year', 1731798),
 ('on', 1489292),
 ('for', 1440827),
 ('have', 1354287),
 ('price', 1194266),
 ('from', 1058661),
 ('with', 1002181),
 ('at', 938169),
 ('by', 821423),
 ('share', 805168),
 ('as', 746400),
 ('stock', 722502),
 ('section', 707690),
 ('total', 700305),
 ('month', 641325),
 ('up', 635800),
 ('average', 633748),
 ('it', 630854),
 ('asset', 617496),
 ('that', 614845),
 ('ago', 570747),
 ('this', 546433),
 ('day', 524803),
 ('market', 521265),
 ('past', 484694),
 ('change', 482795),
 ('return', 452268),
 ('volume', 451561),
 ('its', 437242),
 ('time', 433828),
 ('week', 426604),
 ('an', 423976),
 ('or', 413035),
 ('down', 412922),
 ('high', 401367),
 ('say', 401212),
 ('last', 379163),
 ('index', 374668),
 ('will', 364995),
 ('value', 363928),
 ('he', 360862),
 ('we', 358670),
 ('low', 349975),
 ('director', 349318),
 ('all', 327066),
 ('than', 323038),
 ('sector', 312651),
 ('profit', 311864),
 ('which', 308479),
 ('top', 307165),
 ('net', 305244),
 ('rise', 302039),
 ('not', 299095),
 ('rank', 287354),
 ('out', 284311),
 ('relative', 283543),
 ('report', 283413),
 ('annual', 282184),
 ('increase', 277481),
 ('dividend', 276430),
 ('usd', 273270),
 ('capital', 269524),
 ('close', 259512),
 ('they', 258478),
 ('revenue', 254954),
 ('pany', 252766),
 ('current', 245724),
 ('end', 244905),
 ('sale', 242077),
 ('growth', 236668),
 ('invest', 236626),
 ('fall', 233240),
 ('equity', 232293),
 ('period', 230873),
 ('trade', 230495),
 ('today', 229546),
 ('financial', 225968),
 ('indicator', 224569),
 ('yield', 221314),
 ('signal', 218051),
 ('include', 215361),
 ('their', 213770),
 ('also', 213236),
 ('new', 211308),
 ('per', 209120),
 ('source', 206624),
 ('there', 201411),
 ('but', 200779),
 ('ratio', 200124),
 ('other', 199107),
 ('more', 198377),
 ('margin', 197602),
 ('performance', 196067),
 ('rate', 192660),
 ('do', 191184),
 ('his', 190682),
 ('present', 189947),
 ('date', 186305),
 ('bullish', 184987),
 ('over', 184679),
 ('company', 184281),
 ('yr', 182371),
 ('suggest', 181903),
 ('issue', 181685),
 ('service', 178092),
 ('base', 177657),
 ('move', 175469),
 ('compare', 175005),
 ('you', 173759),
 ('can', 172288),
 ('cash', 168007),
 ('our', 167840),
 ('turnover', 164524),
 ('business', 162847),
 ('earning', 161089),
 ('make', 160470),
 ('trading', 157531),
 ('good', 152852),
 ('bearish', 152676),
 ('shareholder', 150118),
 ('worth', 149140),
 ('well', 149017),
 ('work', 148461),
 ('after', 147156),
 ('announce', 144359),
 ('may', 142752),
 ('gain', 142169),
 ('who', 138518),
 ('less', 138301),
 ('previous', 134373),
 ('activity', 133174),
 ('loss', 132766),
 ('point', 132611),
 ('she', 131756),
 ('about', 130627),
 ('chief', 129673),
 ('quarter', 129389),
 ('officer', 127883),
 ('liability', 127828),
 ('take', 126462),
 ('bottom', 126149),
 ('large', 125409),
 ('quartile', 124723),
 ('number', 123178),
 ('would', 122161),
 ('sell', 121692),
 ('president', 121620),
 ('use', 121438),
 ('executive', 120468),
 ('hold', 119968),
 ('daily', 119500),
 ('technical', 117693),
 ('book', 113424),
 ('provide', 112622),
 ('global', 112182),
 ('start', 111451),
 ('operate', 111354),
 ('equal', 111142),
 ('when', 109428),
 ('cap', 108690),
 ('recent', 108561),
 ('news', 108026),
 ('get', 105733),
 ('now', 105300),
 ('industry', 105286),
 ('decrease', 104561),
 ('no', 104215),
 ('people', 103870),
 ('go', 103798),
 ('tax', 102649),
 ('see', 102540),
 ('into', 101829),
 ('australian', 101418),
 ('so', 100164),
 ('product', 98405),
 ('great', 98358),
 ('strength', 97847),
 ('dynamic', 97100),
 ('term', 96947),
 ('ordinary', 96175),
 ('through', 95868),
 ('award', 95143),
 ('corporate', 94711),
 ('profile', 94369),
 ('beta', 93951),
 ('debt', 93573),
 ('before', 93318),
 ('if', 93214),
 ('ebitda', 92728),
 ('support', 92564),
 ('investment', 92094),
 ('since', 91823),
 ('figure', 90775),
 ('website', 90559),
 ('improve', 90382),
 ('interest', 88795),
 ('mcap', 88304),
 ('what', 87588),
 ('long', 87276),
 ('place', 84861),
 ('management', 84468),
 ('need', 83275),
 ('benchmark', 82917),
 ('flow', 82884),
 ('name', 82378),
 ('hit', 81868),
 ('chairman', 81646),
 ('click', 81422),
 ('member', 80485),
 ('summary', 80334),
 ('just', 80275),
 ('vice', 80185),
 ('range', 79992),
 ('where', 79400),
 ('some', 79199),
 ('fundamental', 79124),
 ('both', 78943),
 ('system', 78804),
 ('non', 78376),
 ('lead', 78182),
 ('class', 77896),
 ('show', 77732),
 ('under', 77551),
 ('back', 76872),
 ('your', 76720),
 ('description', 76592),
 ('follow', 76589),
 ('another', 74789),
 ('positive', 74698),
 ('pare', 74641),
 ('her', 74562),
 ('between', 74356),
 ('buy', 74291),
 ('group', 74001),
 ('offer', 73887),
 ('most', 73852),
 ('panie', 73850),
 ('result', 73769),
 ('information', 73357),
 ('technology', 73103),
 ('serve', 72717),
 ('during', 72588),
 ('volatility', 72511),
 ('define', 72382),
 ('release', 72309),
 ('experience', 71133),
 ('continue', 71096),
 ('team', 70744),
 ('cagr', 70592),
 ('give', 70420),
 ('while', 69797),
 ('own', 69078),
 ('help', 68960),
 ('datum', 68778),
 ('cost', 68719),
 ('against', 68070),
 ('risk', 67816),
 ('like', 67524),
 ('trail', 67363),
 ('premium', 66491),
 ('divide', 66205),
 ('discount', 65382),
 ('decline', 63981),
 ('only', 63960),
 ('home', 63904),
 ('country', 63609),
 ('part', 63606),
 ('compound', 63585),
 ('ranking', 63385),
 ('view', 63232),
 ('win', 63080),
 ('could', 63073),
 ('these', 63048),
 ('reinveste', 62764),
 ('mo', 62652),
 ('real', 62365),
 ('how', 62339),
 ('world', 62224),
 ('represent', 61684),
 ('development', 61400),
 ('expense', 61393),
 ('multipli', 61344),
 ('pay', 60921),
 ('any', 60864),
 ('note', 60862),
 ('ebit', 60807),
 ('set', 60504),
 ('look', 60208),
 ('parameter', 60022),
 ('project', 59806),
 ('property', 59745),
 ('know', 59666),
 ('event', 59649),
 ('map', 59627)]